@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@0;1&family=Mr+Dafoe&family=Nova+Flat&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap');

html *{
    margin: 0;
}

body {
    background-color: rgb(15, 20, 24);
    overflow: hidden;
}

.texture {
    position: absolute;
    z-index: 3;
    filter: opacity(0.1);
    mix-blend-mode:hard-light;
}

.blur-effect {
    position: absolute;
    right: -500px;
    top: -500px;
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    filter: blur(100px) opacity(0.4);
    mix-blend-mode: hard-light;
    z-index: 2;
}

.blur-effect-2 {
    position: absolute;
    right: 200px;
    top: -500px;
    width: 70%;
    height: 100%;
    background-color: #ffffff;
    filter: blur(100px) opacity(0.2);
    mix-blend-mode: hard-light;
    z-index: 2;
}

.background {
    position: absolute;
    z-index: -3;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image:
    linear-gradient(40deg, black, transparent 50%), 
    repeating-linear-gradient(rgba(235, 61, 61, 0.4), transparent 3px, transparent 30px),
    repeating-linear-gradient(to right, rgba(186, 45, 45, 0.515) 2px, transparent 3px, transparent 32px);
}

.grid-container * {
    margin: 15px;
    max-height: 1000px;
}

.grid-container {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 2fr 1.5fr 2.5fr;
}

.title {
    grid-row: 1 / 6;
    grid-column: 1;
    color: red;
    font-family: "Zen Dots", sans-serif;
    height: 100%;
    margin-right: 1ch;
    text-align: end;
    writing-mode: vertical-lr;
    transform: scale(-1);
    font-size: 3rem;
}

.image-0 {
    grid-row: 1 / 7;
    grid-column: 1;
    margin-top: 0;
    margin-left: 10ch;
    height: 80ch;
    width: 7ch;
}

.heading-1 {
    grid-row: 1;
    grid-column: 2 / 4;
    align-content: end;
    font-size: 1.7rem;
    margin: 0;
    font-family: "Zen Dots", sans-serif;
    color: transparent;
    background: linear-gradient(45deg, #f3ec78, #ff094f);
    background-clip: text;
    border-bottom: 5px double rgb(219, 82, 82);
    border-radius: 6px;
}

.bread-1 {
    grid-row: 2 / 4;
    grid-column: 2;
    font-size: clamp(0.55rem, 0.8vw, 1.1rem);
    font-family: "Nova Flat", system-ui;
    color: rgb(223, 228, 201);
    padding: 5px;
    border-left: 1.5px solid rgb(249, 61, 61);
    border-radius: 10px;
}

.bread-2 {
    grid-row: 2 / 4;
    grid-column: 3;
    font-size: clamp(0.55rem, 0.78vw, 1.08rem);
    font-family: "Nova Flat", system-ui;
    color: rgb(228, 226, 201);
    padding: 5px;
    border-left: 1.5px solid rgb(249, 174, 61);
    border-radius: 10px;
}

.bread-3 {
    grid-row: 4;
    grid-column: 2;
    font-size: clamp(0.4rem, 0.6vw, 1rem);
    font-family: "Nova Flat", system-ui;
    color: rgb(223, 228, 201);
    padding: 5px;
    border-left: 1.5px solid rgb(249, 61, 61);
    border-radius: 10px;
}

.bread-4 {
    grid-row: 4;
    grid-column: 3;
    font-size: clamp(0.60rem, 0.75vw, 1.1rem);
    font-family: "Nova Flat", system-ui;
    color: rgb(223, 228, 201);
    align-self: flex-end;
    padding: 5px;
    border-left: 1.5px solid rgb(249, 158, 61);
    border-radius: 10px;
}

.bread-5 {
    grid-row: 5 / 7;
    grid-column: 3;
    font-size: clamp(0.65rem, 0.83vw, 1.17rem);
    font-family: "Nova Flat", system-ui;
    color: rgb(223, 228, 201);
    padding: 5px;
    border-top: 1.5px solid rgb(249, 61, 61);
    border-left: 1.5px solid rgb(249, 61, 61);
    border-radius: 10px;
    margin-inline: 2ch;
}

.heading-2 {
    grid-row: 3;
    grid-column: 4;
    font-family: "Zen Dots", sans-serif;
    color: transparent;
    background: linear-gradient(45deg, #f3ec78, #ff094f);
    background-clip: text;
    align-self: flex-end;
    margin: 5px;
    border-bottom: 5px double rgb(219, 82, 82);
}

.bread-6 {
    grid-row: 4 / 7;
    grid-column: 4;
    font-size: clamp(0.60rem, 0.8vw, 1.1rem);
    font-family: "Nova Flat", system-ui;
    color: rgb(223, 228, 201);
    margin: 0;
    border: 2px solid rgba(240, 101, 8, 0.516);;
    border-radius: 10px;
    b {
        margin: 0;
    }
}

.image-1 {
    grid-row: 5 / 7;
    grid-column: 2;
    width: 100%;
    height: auto;
    background-image: url(/flower.jpg);
    background-color: #d6e013;
    background-blend-mode: hard-light;
    mask-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 100px;
    background-position: -20px;
    filter: opacity(0.6);
}

.image-2 {
    grid-row: 1 / 6;
    grid-column: 5 / 8;
    width: 50%;
    height: 90%;
    z-index: -2;
    opacity: 0.5;
    rotate: 80deg;
    margin-left: 13ch;
    filter: hue-rotate(180deg) opacity(0.3);
}

.image-3 {
    grid-row: 1 / 6;
    grid-column: 5 / 8;
    background:  url(/clouds.png), url(/clouds.png);
    background-position: -2ch -20ch, -1ch -30ch;
    background-repeat: no-repeat;
    background-blend-mode: saturation, difference;
    width: 100%;
    height: 100%;
    z-index: -2;
    margin-top: 0;
}

.image-4 {
    grid-row: 1 / 6;
    grid-column: 5 / 8;
    mask-image: url(/clouds.png);
    background: 
    url(/clouds.png),
    url(/clouds.png);
    mask-repeat: no-repeat;
    background-blend-mode: color-dodge, difference;
    width: 100%;
    height: 100%;
    z-index: -2;
    transform: scaleY(-1);
    margin-top: 0;
}

.qoute {
    grid-row: 5;
    grid-column: 5 / 8;
    z-index: 2;
    font-size: clamp(1.8rem, 2.4vw, 2.5rem);
    font-family: "Zen Dots", sans-serif;
    color: #ffffff;
    text-shadow: 
    0px -5px 0px #ffffff64,
    0px -15px 0px #ffffff68,
    0px -25px 0px #ffffff2a,
    0px -40px 0px #ffffff0f,
    2px 2px 0px #ffffff63,
    -2px -2px 0px #ffffff63;
}

.bread-7 {
    grid-row: 6;
    grid-column: 5;
    font-size: clamp(0.60rem, 0.8vw, 1.1rem);
    font-family: "Nova Flat", system-ui;
    color: rgb(223, 228, 201);
    padding: 5px;
    padding-left: 15px;
    border-left: 1px solid rgb(229, 255, 0);
    border-radius: 2px;
}

.bread-8 {
    grid-row: 6;
    grid-column: 6;
    font-size: clamp(0.60rem, 0.65vw, 1.1rem);
    font-family: "Nova Flat", system-ui;
    color: rgb(223, 228, 201);
    padding: 5px;
    padding-left: 15px;
    border-left: 1px solid rgb(255, 255, 0);
    border-radius: 2px;
}

.bread-9 {
    grid-row: 6;
    grid-column: 7;
    font-size: clamp(0.65rem, 0.77vw, 1.18rem);
    padding-bottom: 2ch;
    font-family: "Nova Flat", system-ui;
    color: rgb(223, 228, 201);
    padding: 5px;
    padding-left: 15px;
    border-left: 1px solid rgb(255, 251, 0);
    border-radius: 2px;
}

.remember {
    grid-column: 4 / 6;
    grid-row: 2;
    font-family: "Nova Flat", system-ui;
    font-size: clamp(0.65rem, 1.2vw, 1.18rem);
    text-shadow: 0 0 5px #ffffff, 0px 0px 100px #0D92CE, 0px 0px 100px #0D92CE, 0px 0px 100px #0D92CE, 0px 0px 100px #0D92CE, 0px 0px 100px #0D92CE, 0px 0px 100px #0D92CE;
    color: #c8e4ec;
    margin-left: 5ch;
    border-bottom: 4px dotted rgba(255, 255, 255, 0.46);
    border-radius: 10px;
}